@use 'variables' as v;

body.dark-mode {
  background-color: #111827;
  color: #e5e7eb;

  .navbar, .footer {
    background-color: #1f2937;
  }

  .card {
    background-color: #1f2937;
    color: #f3f4f6;
    box-shadow: none;
  }

  a {
    color: v.$color-accent;
  }

  button {
    background-color: v.$color-primary;
    color: white;
  }
}
