:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.298 0 0);
  --primary: oklch(0.548 0.162 240);
  --secondary: oklch(0.708 0.162 220);
  --accent: oklch(0.608 0.162 260);

  --radius: 0.5rem;

  --font-sans: "Open Sans", sans-serif;
  --font-heading: "Montserrat", sans-serif;
}

